<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 配置消费者在dubbo中的名称（用作统计） -->
    <dubbo:application name="consumer"/>

    <!-- 配置注册中心 -->
    <dubbo:registry address="zookeeper://10.12.159.126:2181" />

    <!-- 获取提供方所提供的数据 -->
    <dubbo:reference interface="com.xa.service.IUserService" id="iuserService"></dubbo:reference>
    <dubbo:reference interface="com.xa.service.PersonnelevaluationService" id="personnelevaluationImpl"></dubbo:reference>
    <dubbo:reference interface="com.xa.service.PhcarService" id="phcarService"></dubbo:reference>





    <import resource="spring-shiro.xml"></import>
</beans>
