<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xa.mapper.PhaddevaluationMapper" >
  <resultMap id="BaseResultMap" type="com.xa.pojo.Phaddevaluation" >
    <id column="aeid" property="aeid" jdbcType="INTEGER" />
    <result column="feid" property="feid" jdbcType="INTEGER" />
    <result column="aefeel" property="aefeel" jdbcType="VARCHAR" />
    <result column="aefimg" property="aefimg" jdbcType="VARCHAR" />
    <result column="aeservice" property="aeservice" jdbcType="VARCHAR" />
    <result column="aesimg" property="aesimg" jdbcType="VARCHAR" />
    <result column="redundancyone" property="redundancyone" jdbcType="VARCHAR" />
    <result column="redundancytwo" property="redundancytwo" jdbcType="VARCHAR" />
    <result column="redundancythr" property="redundancythr" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    aeid, feid, aefeel, aefimg, aeservice, aesimg, redundancyone, redundancytwo, redundancythr, 
    status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xa.pojo.PhaddevaluationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from phaddevaluation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from phaddevaluation
    where aeid = #{aeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from phaddevaluation
    where aeid = #{aeid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xa.pojo.PhaddevaluationExample" >
    delete from phaddevaluation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xa.pojo.Phaddevaluation" >
    insert into phaddevaluation (aeid, feid, aefeel, 
      aefimg, aeservice, aesimg, 
      redundancyone, redundancytwo, redundancythr, 
      status)
    values (#{aeid,jdbcType=INTEGER}, #{feid,jdbcType=INTEGER}, #{aefeel,jdbcType=VARCHAR}, 
      #{aefimg,jdbcType=VARCHAR}, #{aeservice,jdbcType=VARCHAR}, #{aesimg,jdbcType=VARCHAR}, 
      #{redundancyone,jdbcType=VARCHAR}, #{redundancytwo,jdbcType=VARCHAR}, #{redundancythr,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xa.pojo.Phaddevaluation" >
    insert into phaddevaluation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aeid != null" >
        aeid,
      </if>
      <if test="feid != null" >
        feid,
      </if>
      <if test="aefeel != null" >
        aefeel,
      </if>
      <if test="aefimg != null" >
        aefimg,
      </if>
      <if test="aeservice != null" >
        aeservice,
      </if>
      <if test="aesimg != null" >
        aesimg,
      </if>
      <if test="redundancyone != null" >
        redundancyone,
      </if>
      <if test="redundancytwo != null" >
        redundancytwo,
      </if>
      <if test="redundancythr != null" >
        redundancythr,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aeid != null" >
        #{aeid,jdbcType=INTEGER},
      </if>
      <if test="feid != null" >
        #{feid,jdbcType=INTEGER},
      </if>
      <if test="aefeel != null" >
        #{aefeel,jdbcType=VARCHAR},
      </if>
      <if test="aefimg != null" >
        #{aefimg,jdbcType=VARCHAR},
      </if>
      <if test="aeservice != null" >
        #{aeservice,jdbcType=VARCHAR},
      </if>
      <if test="aesimg != null" >
        #{aesimg,jdbcType=VARCHAR},
      </if>
      <if test="redundancyone != null" >
        #{redundancyone,jdbcType=VARCHAR},
      </if>
      <if test="redundancytwo != null" >
        #{redundancytwo,jdbcType=VARCHAR},
      </if>
      <if test="redundancythr != null" >
        #{redundancythr,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xa.pojo.PhaddevaluationExample" resultType="java.lang.Integer" >
    select count(*) from phaddevaluation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update phaddevaluation
    <set >
      <if test="record.aeid != null" >
        aeid = #{record.aeid,jdbcType=INTEGER},
      </if>
      <if test="record.feid != null" >
        feid = #{record.feid,jdbcType=INTEGER},
      </if>
      <if test="record.aefeel != null" >
        aefeel = #{record.aefeel,jdbcType=VARCHAR},
      </if>
      <if test="record.aefimg != null" >
        aefimg = #{record.aefimg,jdbcType=VARCHAR},
      </if>
      <if test="record.aeservice != null" >
        aeservice = #{record.aeservice,jdbcType=VARCHAR},
      </if>
      <if test="record.aesimg != null" >
        aesimg = #{record.aesimg,jdbcType=VARCHAR},
      </if>
      <if test="record.redundancyone != null" >
        redundancyone = #{record.redundancyone,jdbcType=VARCHAR},
      </if>
      <if test="record.redundancytwo != null" >
        redundancytwo = #{record.redundancytwo,jdbcType=VARCHAR},
      </if>
      <if test="record.redundancythr != null" >
        redundancythr = #{record.redundancythr,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update phaddevaluation
    set aeid = #{record.aeid,jdbcType=INTEGER},
      feid = #{record.feid,jdbcType=INTEGER},
      aefeel = #{record.aefeel,jdbcType=VARCHAR},
      aefimg = #{record.aefimg,jdbcType=VARCHAR},
      aeservice = #{record.aeservice,jdbcType=VARCHAR},
      aesimg = #{record.aesimg,jdbcType=VARCHAR},
      redundancyone = #{record.redundancyone,jdbcType=VARCHAR},
      redundancytwo = #{record.redundancytwo,jdbcType=VARCHAR},
      redundancythr = #{record.redundancythr,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xa.pojo.Phaddevaluation" >
    update phaddevaluation
    <set >
      <if test="feid != null" >
        feid = #{feid,jdbcType=INTEGER},
      </if>
      <if test="aefeel != null" >
        aefeel = #{aefeel,jdbcType=VARCHAR},
      </if>
      <if test="aefimg != null" >
        aefimg = #{aefimg,jdbcType=VARCHAR},
      </if>
      <if test="aeservice != null" >
        aeservice = #{aeservice,jdbcType=VARCHAR},
      </if>
      <if test="aesimg != null" >
        aesimg = #{aesimg,jdbcType=VARCHAR},
      </if>
      <if test="redundancyone != null" >
        redundancyone = #{redundancyone,jdbcType=VARCHAR},
      </if>
      <if test="redundancytwo != null" >
        redundancytwo = #{redundancytwo,jdbcType=VARCHAR},
      </if>
      <if test="redundancythr != null" >
        redundancythr = #{redundancythr,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where aeid = #{aeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xa.pojo.Phaddevaluation" >
    update phaddevaluation
    set feid = #{feid,jdbcType=INTEGER},
      aefeel = #{aefeel,jdbcType=VARCHAR},
      aefimg = #{aefimg,jdbcType=VARCHAR},
      aeservice = #{aeservice,jdbcType=VARCHAR},
      aesimg = #{aesimg,jdbcType=VARCHAR},
      redundancyone = #{redundancyone,jdbcType=VARCHAR},
      redundancytwo = #{redundancytwo,jdbcType=VARCHAR},
      redundancythr = #{redundancythr,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where aeid = #{aeid,jdbcType=INTEGER}
  </update>
</mapper>