<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xa.mapper.PhadviceMapper" >
  <resultMap id="BaseResultMap" type="com.xa.pojo.Phadvice" >
    <id column="adid" property="adid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="adtype" property="adtype" jdbcType="VARCHAR" />
    <result column="adtheme" property="adtheme" jdbcType="VARCHAR" />
    <result column="adcontent" property="adcontent" jdbcType="VARCHAR" />
    <result column="ademail" property="ademail" jdbcType="VARCHAR" />
    <result column="adphone" property="adphone" jdbcType="VARCHAR" />
    <result column="redundancyone" property="redundancyone" jdbcType="VARCHAR" />
    <result column="redundancytwo" property="redundancytwo" jdbcType="VARCHAR" />
    <result column="redundancythr" property="redundancythr" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    adid, uid, adtype, adtheme, adcontent, ademail, adphone, redundancyone, redundancytwo, 
    redundancythr, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xa.pojo.PhadviceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from phadvice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from phadvice
    where adid = #{adid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from phadvice
    where adid = #{adid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xa.pojo.PhadviceExample" >
    delete from phadvice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xa.pojo.Phadvice" >
    insert into phadvice (adid, uid, adtype, 
      adtheme, adcontent, ademail, 
      adphone, redundancyone, redundancytwo, 
      redundancythr, status)
    values (#{adid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{adtype,jdbcType=VARCHAR}, 
      #{adtheme,jdbcType=VARCHAR}, #{adcontent,jdbcType=VARCHAR}, #{ademail,jdbcType=VARCHAR}, 
      #{adphone,jdbcType=VARCHAR}, #{redundancyone,jdbcType=VARCHAR}, #{redundancytwo,jdbcType=VARCHAR}, 
      #{redundancythr,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xa.pojo.Phadvice" >
    insert into phadvice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adid != null" >
        adid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="adtype != null" >
        adtype,
      </if>
      <if test="adtheme != null" >
        adtheme,
      </if>
      <if test="adcontent != null" >
        adcontent,
      </if>
      <if test="ademail != null" >
        ademail,
      </if>
      <if test="adphone != null" >
        adphone,
      </if>
      <if test="redundancyone != null" >
        redundancyone,
      </if>
      <if test="redundancytwo != null" >
        redundancytwo,
      </if>
      <if test="redundancythr != null" >
        redundancythr,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adid != null" >
        #{adid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="adtype != null" >
        #{adtype,jdbcType=VARCHAR},
      </if>
      <if test="adtheme != null" >
        #{adtheme,jdbcType=VARCHAR},
      </if>
      <if test="adcontent != null" >
        #{adcontent,jdbcType=VARCHAR},
      </if>
      <if test="ademail != null" >
        #{ademail,jdbcType=VARCHAR},
      </if>
      <if test="adphone != null" >
        #{adphone,jdbcType=VARCHAR},
      </if>
      <if test="redundancyone != null" >
        #{redundancyone,jdbcType=VARCHAR},
      </if>
      <if test="redundancytwo != null" >
        #{redundancytwo,jdbcType=VARCHAR},
      </if>
      <if test="redundancythr != null" >
        #{redundancythr,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xa.pojo.PhadviceExample" resultType="java.lang.Integer" >
    select count(*) from phadvice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update phadvice
    <set >
      <if test="record.adid != null" >
        adid = #{record.adid,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.adtype != null" >
        adtype = #{record.adtype,jdbcType=VARCHAR},
      </if>
      <if test="record.adtheme != null" >
        adtheme = #{record.adtheme,jdbcType=VARCHAR},
      </if>
      <if test="record.adcontent != null" >
        adcontent = #{record.adcontent,jdbcType=VARCHAR},
      </if>
      <if test="record.ademail != null" >
        ademail = #{record.ademail,jdbcType=VARCHAR},
      </if>
      <if test="record.adphone != null" >
        adphone = #{record.adphone,jdbcType=VARCHAR},
      </if>
      <if test="record.redundancyone != null" >
        redundancyone = #{record.redundancyone,jdbcType=VARCHAR},
      </if>
      <if test="record.redundancytwo != null" >
        redundancytwo = #{record.redundancytwo,jdbcType=VARCHAR},
      </if>
      <if test="record.redundancythr != null" >
        redundancythr = #{record.redundancythr,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update phadvice
    set adid = #{record.adid,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      adtype = #{record.adtype,jdbcType=VARCHAR},
      adtheme = #{record.adtheme,jdbcType=VARCHAR},
      adcontent = #{record.adcontent,jdbcType=VARCHAR},
      ademail = #{record.ademail,jdbcType=VARCHAR},
      adphone = #{record.adphone,jdbcType=VARCHAR},
      redundancyone = #{record.redundancyone,jdbcType=VARCHAR},
      redundancytwo = #{record.redundancytwo,jdbcType=VARCHAR},
      redundancythr = #{record.redundancythr,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xa.pojo.Phadvice" >
    update phadvice
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="adtype != null" >
        adtype = #{adtype,jdbcType=VARCHAR},
      </if>
      <if test="adtheme != null" >
        adtheme = #{adtheme,jdbcType=VARCHAR},
      </if>
      <if test="adcontent != null" >
        adcontent = #{adcontent,jdbcType=VARCHAR},
      </if>
      <if test="ademail != null" >
        ademail = #{ademail,jdbcType=VARCHAR},
      </if>
      <if test="adphone != null" >
        adphone = #{adphone,jdbcType=VARCHAR},
      </if>
      <if test="redundancyone != null" >
        redundancyone = #{redundancyone,jdbcType=VARCHAR},
      </if>
      <if test="redundancytwo != null" >
        redundancytwo = #{redundancytwo,jdbcType=VARCHAR},
      </if>
      <if test="redundancythr != null" >
        redundancythr = #{redundancythr,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where adid = #{adid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xa.pojo.Phadvice" >
    update phadvice
    set uid = #{uid,jdbcType=INTEGER},
      adtype = #{adtype,jdbcType=VARCHAR},
      adtheme = #{adtheme,jdbcType=VARCHAR},
      adcontent = #{adcontent,jdbcType=VARCHAR},
      ademail = #{ademail,jdbcType=VARCHAR},
      adphone = #{adphone,jdbcType=VARCHAR},
      redundancyone = #{redundancyone,jdbcType=VARCHAR},
      redundancytwo = #{redundancytwo,jdbcType=VARCHAR},
      redundancythr = #{redundancythr,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where adid = #{adid,jdbcType=INTEGER}
  </update>
</mapper>