<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xa.mapper.PhpersonnelevaluationMapper" >
  <resultMap id="BaseResultMap" type="com.xa.pojo.Phpersonnelevaluation" >
    <id column="feid" property="feid" jdbcType="INTEGER" />
    <result column="oid" property="oid" jdbcType="INTEGER" />
    <result column="feappraiser" property="feappraiser" jdbcType="INTEGER" />
    <result column="fesale" property="fesale" jdbcType="INTEGER" />
    <result column="fetransfer" property="fetransfer" jdbcType="INTEGER" />
    <result column="feinstallment" property="feinstallment" jdbcType="INTEGER" />
    <result column="feaeva" property="feaeva" jdbcType="VARCHAR" />
    <result column="feseva" property="feseva" jdbcType="VARCHAR" />
    <result column="feteva" property="feteva" jdbcType="VARCHAR" />
    <result column="feieva" property="feieva" jdbcType="VARCHAR" />
    <result column="redundancyone" property="redundancyone" jdbcType="VARCHAR" />
    <result column="redundancytwo" property="redundancytwo" jdbcType="VARCHAR" />
    <result column="redundancythr" property="redundancythr" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    feid, oid, feappraiser, fesale, fetransfer, feinstallment, feaeva, feseva, feteva, 
    feieva, redundancyone, redundancytwo, redundancythr, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xa.pojo.PhpersonnelevaluationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from phpersonnelevaluation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from phpersonnelevaluation
    where feid = #{feid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from phpersonnelevaluation
    where feid = #{feid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xa.pojo.PhpersonnelevaluationExample" >
    delete from phpersonnelevaluation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xa.pojo.Phpersonnelevaluation" >
    insert into phpersonnelevaluation (feid, oid, feappraiser, 
      fesale, fetransfer, feinstallment, 
      feaeva, feseva, feteva, 
      feieva, redundancyone, redundancytwo, 
      redundancythr, status)
    values (#{feid,jdbcType=INTEGER}, #{oid,jdbcType=INTEGER}, #{feappraiser,jdbcType=INTEGER}, 
      #{fesale,jdbcType=INTEGER}, #{fetransfer,jdbcType=INTEGER}, #{feinstallment,jdbcType=INTEGER}, 
      #{feaeva,jdbcType=VARCHAR}, #{feseva,jdbcType=VARCHAR}, #{feteva,jdbcType=VARCHAR}, 
      #{feieva,jdbcType=VARCHAR}, #{redundancyone,jdbcType=VARCHAR}, #{redundancytwo,jdbcType=VARCHAR}, 
      #{redundancythr,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xa.pojo.Phpersonnelevaluation" >
    insert into phpersonnelevaluation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="feid != null" >
        feid,
      </if>
      <if test="oid != null" >
        oid,
      </if>
      <if test="feappraiser != null" >
        feappraiser,
      </if>
      <if test="fesale != null" >
        fesale,
      </if>
      <if test="fetransfer != null" >
        fetransfer,
      </if>
      <if test="feinstallment != null" >
        feinstallment,
      </if>
      <if test="feaeva != null" >
        feaeva,
      </if>
      <if test="feseva != null" >
        feseva,
      </if>
      <if test="feteva != null" >
        feteva,
      </if>
      <if test="feieva != null" >
        feieva,
      </if>
      <if test="redundancyone != null" >
        redundancyone,
      </if>
      <if test="redundancytwo != null" >
        redundancytwo,
      </if>
      <if test="redundancythr != null" >
        redundancythr,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="feid != null" >
        #{feid,jdbcType=INTEGER},
      </if>
      <if test="oid != null" >
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="feappraiser != null" >
        #{feappraiser,jdbcType=INTEGER},
      </if>
      <if test="fesale != null" >
        #{fesale,jdbcType=INTEGER},
      </if>
      <if test="fetransfer != null" >
        #{fetransfer,jdbcType=INTEGER},
      </if>
      <if test="feinstallment != null" >
        #{feinstallment,jdbcType=INTEGER},
      </if>
      <if test="feaeva != null" >
        #{feaeva,jdbcType=VARCHAR},
      </if>
      <if test="feseva != null" >
        #{feseva,jdbcType=VARCHAR},
      </if>
      <if test="feteva != null" >
        #{feteva,jdbcType=VARCHAR},
      </if>
      <if test="feieva != null" >
        #{feieva,jdbcType=VARCHAR},
      </if>
      <if test="redundancyone != null" >
        #{redundancyone,jdbcType=VARCHAR},
      </if>
      <if test="redundancytwo != null" >
        #{redundancytwo,jdbcType=VARCHAR},
      </if>
      <if test="redundancythr != null" >
        #{redundancythr,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xa.pojo.PhpersonnelevaluationExample" resultType="java.lang.Integer" >
    select count(*) from phpersonnelevaluation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update phpersonnelevaluation
    <set >
      <if test="record.feid != null" >
        feid = #{record.feid,jdbcType=INTEGER},
      </if>
      <if test="record.oid != null" >
        oid = #{record.oid,jdbcType=INTEGER},
      </if>
      <if test="record.feappraiser != null" >
        feappraiser = #{record.feappraiser,jdbcType=INTEGER},
      </if>
      <if test="record.fesale != null" >
        fesale = #{record.fesale,jdbcType=INTEGER},
      </if>
      <if test="record.fetransfer != null" >
        fetransfer = #{record.fetransfer,jdbcType=INTEGER},
      </if>
      <if test="record.feinstallment != null" >
        feinstallment = #{record.feinstallment,jdbcType=INTEGER},
      </if>
      <if test="record.feaeva != null" >
        feaeva = #{record.feaeva,jdbcType=VARCHAR},
      </if>
      <if test="record.feseva != null" >
        feseva = #{record.feseva,jdbcType=VARCHAR},
      </if>
      <if test="record.feteva != null" >
        feteva = #{record.feteva,jdbcType=VARCHAR},
      </if>
      <if test="record.feieva != null" >
        feieva = #{record.feieva,jdbcType=VARCHAR},
      </if>
      <if test="record.redundancyone != null" >
        redundancyone = #{record.redundancyone,jdbcType=VARCHAR},
      </if>
      <if test="record.redundancytwo != null" >
        redundancytwo = #{record.redundancytwo,jdbcType=VARCHAR},
      </if>
      <if test="record.redundancythr != null" >
        redundancythr = #{record.redundancythr,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update phpersonnelevaluation
    set feid = #{record.feid,jdbcType=INTEGER},
      oid = #{record.oid,jdbcType=INTEGER},
      feappraiser = #{record.feappraiser,jdbcType=INTEGER},
      fesale = #{record.fesale,jdbcType=INTEGER},
      fetransfer = #{record.fetransfer,jdbcType=INTEGER},
      feinstallment = #{record.feinstallment,jdbcType=INTEGER},
      feaeva = #{record.feaeva,jdbcType=VARCHAR},
      feseva = #{record.feseva,jdbcType=VARCHAR},
      feteva = #{record.feteva,jdbcType=VARCHAR},
      feieva = #{record.feieva,jdbcType=VARCHAR},
      redundancyone = #{record.redundancyone,jdbcType=VARCHAR},
      redundancytwo = #{record.redundancytwo,jdbcType=VARCHAR},
      redundancythr = #{record.redundancythr,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xa.pojo.Phpersonnelevaluation" >
    update phpersonnelevaluation
    <set >
      <if test="oid != null" >
        oid = #{oid,jdbcType=INTEGER},
      </if>
      <if test="feappraiser != null" >
        feappraiser = #{feappraiser,jdbcType=INTEGER},
      </if>
      <if test="fesale != null" >
        fesale = #{fesale,jdbcType=INTEGER},
      </if>
      <if test="fetransfer != null" >
        fetransfer = #{fetransfer,jdbcType=INTEGER},
      </if>
      <if test="feinstallment != null" >
        feinstallment = #{feinstallment,jdbcType=INTEGER},
      </if>
      <if test="feaeva != null" >
        feaeva = #{feaeva,jdbcType=VARCHAR},
      </if>
      <if test="feseva != null" >
        feseva = #{feseva,jdbcType=VARCHAR},
      </if>
      <if test="feteva != null" >
        feteva = #{feteva,jdbcType=VARCHAR},
      </if>
      <if test="feieva != null" >
        feieva = #{feieva,jdbcType=VARCHAR},
      </if>
      <if test="redundancyone != null" >
        redundancyone = #{redundancyone,jdbcType=VARCHAR},
      </if>
      <if test="redundancytwo != null" >
        redundancytwo = #{redundancytwo,jdbcType=VARCHAR},
      </if>
      <if test="redundancythr != null" >
        redundancythr = #{redundancythr,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where feid = #{feid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xa.pojo.Phpersonnelevaluation" >
    update phpersonnelevaluation
    set oid = #{oid,jdbcType=INTEGER},
      feappraiser = #{feappraiser,jdbcType=INTEGER},
      fesale = #{fesale,jdbcType=INTEGER},
      fetransfer = #{fetransfer,jdbcType=INTEGER},
      feinstallment = #{feinstallment,jdbcType=INTEGER},
      feaeva = #{feaeva,jdbcType=VARCHAR},
      feseva = #{feseva,jdbcType=VARCHAR},
      feteva = #{feteva,jdbcType=VARCHAR},
      feieva = #{feieva,jdbcType=VARCHAR},
      redundancyone = #{redundancyone,jdbcType=VARCHAR},
      redundancytwo = #{redundancytwo,jdbcType=VARCHAR},
      redundancythr = #{redundancythr,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where feid = #{feid,jdbcType=INTEGER}
  </update>
  <!--查出所有的评论-->
  <select id="getAllPingLun" resultType="com.xa.dto.PersonnelevaluationDto">
     select f.feid,car.cqualityimg,car.redundancyone,f.fetime,f.fecontent,user.uname
      from phfirstevaluation f,phcar car,phorder o,user
      where f.oid=o.oid and o.uid=user.uid and car.uid=user.uid and f.status=0;
  </select>
  <!--删除评论-->
  <delete id="delPinglunById" parameterType="int">
    update phfirstevaluation
    set status=1
    where feid=#{id}
  </delete>
  <!--//删除追加评论-->
  <delete id="delAddPinglun" parameterType="int">
    update phaddevaluation
    set status=1
    where feid=#{id}
  </delete>
  <!--//查出我的评论-->
  <select id="getAllPingLunByUser" parameterType="int" resultType="com.xa.dto.PersonnelevaluationDto">
      select f.feid,car.cqualityimg,car.redundancyone,f.fetime,f.fecontent,user.uname
      from phfirstevaluation f,phcar car,phorder o,user
      where f.oid=o.oid and o.uid=user.uid and car.uid=user.uid and f.status=0 and user.uid=#{uid};
  </select>

  <!--根据用户查出追加的评论-->
  <select id="getAddvaluationByUid" parameterType="int" resultType="phaddevaluation">
    select aeid,aefeel,aeservice,o.onumber redundancytwo,car.redundancyone
      from phfirstevaluation f,phcar car,phorder o,user,Phaddevaluation adde
      where adde.feid=f.feid and f.oid=o.oid and o.uid=user.uid and car.uid=user.uid and adde.status=0 and user.uid=#{uid};
  </select>
</mapper>